<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">Unix shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>12:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Plotting and Programming in Python</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>13:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:30</td>        <!-- time    -->
        <td>Plotting and Programming in Python continued</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td>Plotting and Programming in Python</td>        <!-- content -->
      </tr>
      <tr>
        <td>13:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
      <tr>
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:30</td>        <!-- time    -->
        <td>Plotting and Programming in Python continued</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td>Plotting and Programming in Python continued</td>        <!-- content -->
      </tr>
      <tr>
        <td>13:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:30</td>        <!-- time    -->
        <td>Plotting and Programming in Python continued</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>12:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td>         <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
